.events {
  text-align: center;
  height: 100%; }
  .events h1 {
    font-size: 2rem; }
  .events .results-container {
    height: 575px;
    overflow-y: scroll;
    margin: 10px auto; }
    .events .results-container .result {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      background-color: white;
      width: 75%;
      margin: 10px auto;
      box-shadow: 2px 2px 10px lightgrey; }
      .events .results-container .result h1 {
        color: #666666; }
      .events .results-container .result h4 {
        color: #666666; }
      .events .results-container .result .h4-result {
        color: #84b8fc; }
