
.icon-chart-bar:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-left-dir:before { content: '\e803'; } /* '' */
.icon-right-dir:before { content: '\e804'; } /* '' */
.icon-lock:before { content: '\e806'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */