.sidebar-container {
  display: flex; }
  .sidebar-container .hidden {
    display: none; }
  .sidebar-container .sidebar {
    height: 100vh;
    background-color: #142743;
    color: #bbb;
    width: 20vw;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sidebar-container .sidebar .sidebar__title-logo {
      width: 80%;
      margin-top: 1.5rem; }
    .sidebar-container .sidebar h3 {
      font-weight: 100;
      color: #fff; }
    .sidebar-container .sidebar section {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-top: 50px; }
      .sidebar-container .sidebar section button {
        margin: .7rem 0;
        width: 100%;
        padding: 1rem;
        text-align: start;
        font-size: 1rem;
        font-weight: 100;
        border: none;
        border-radius: .2rem;
        background: none;
        color: #bbb; }
        .sidebar-container .sidebar section button:hover {
          background: #6a98da;
          color: #fff; }
    .sidebar-container .sidebar .sidebar__section-admin h3 {
      color: #bbbbbb3b; }
    .sidebar-container .sidebar .sidebar__section-admin button:disabled {
      color: #bbbbbb3b; }
      .sidebar-container .sidebar .sidebar__section-admin button:disabled:hover {
        background: none; }
  .sidebar-container .sidebar-min {
    width: 4vw; }
  .sidebar-container .sidebar__collapse-btn {
    padding-top: 1.5rem;
    font-size: 2rem;
    color: #6a98da;
    background: #f7f6f6; }
