.sidebar {
  height: 100vh;
  background-color: #352c4b;
  color: white;
  border-radius: 0px 15px 15px 0px;
  width: 20vw;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  .sidebar__title-logo {
    width: 90%;
    margin-top: 1rem;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 80%;
    button {
      margin: 15px;
        text-align: start;
        font-size: 1rem;
        border: none;
        background: none;
        color: white;
    }
  }
}
